## Example of generating a welfare benefit dataset

In [1]:
from wb_dataset import *

db_size = 500 # Number of instances in the dataset
n_noise=52 # Number of noise variables
lbl_distr=0.5 # The label distribution

In [2]:
# Generate a dataset
wb_df = create_dataset(db_size=db_size, 
                       lbl_distr=lbl_distr, 
                       n_noise=n_noise)
wb_df

,age,gender,paid_contribution_1,paid_contribution_2,paid_contribution_3,paid_contribution_4,paid_contribution_5,is_spouse,is_absent,capital_resources,...,noise_43,noise_44,noise_45,noise_46,noise_47,noise_48,noise_49,noise_50,noise_51,noise_52
0,86,m,yes,yes,yes,yes,yes,True,False,2846,...,83,21,86,49,27,94,79,89,50,34
1,99,m,yes,yes,yes,yes,yes,True,False,1500,...,8,71,33,98,17,9,27,29,11,29
2,66,f,yes,yes,yes,yes,yes,True,False,1433,...,42,7,21,16,65,87,34,73,52,84
3,83,f,yes,yes,yes,no,yes,True,False,2992,...,43,18,8,96,51,64,34,63,59,30
4,85,m,yes,yes,yes,yes,yes,True,False,982,...,94,74,1,11,68,10,30,80,45,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,56,f,no,no,no,no,no,True,False,549,...,79,61,57,83,1,79,31,53,43,22
496,31,f,no,yes,no,yes,yes,False,True,1602,...,96,56,73,55,24,4,53,90,11,25
497,97,m,no,no,yes,no,no,True,True,2763,...,5,90,100,58,95,54,2,0,18,51
498,0,m,yes,yes,yes,yes,yes,False,True,6333,...,32,3,23,9,81,61,45,75,81,86
499,27,m,no,no,yes,yes,no,True,True,6935,...,64,80,60,81,39,67,17,53,78,24

In [3]:
# Generate a dataset where ineligible instances fail on only a single condition. 
instance_function = create_instance_single_fail

wb_df = create_dataset(db_size=db_size, 
                       instance_function=instance_function, 
                       lbl_distr=lbl_distr, 
                       n_noise=n_noise)
wb_df

,age,gender,paid_contribution_1,paid_contribution_2,paid_contribution_3,paid_contribution_4,paid_contribution_5,is_spouse,is_absent,capital_resources,...,noise_43,noise_44,noise_45,noise_46,noise_47,noise_48,noise_49,noise_50,noise_51,noise_52
0,95,m,no,yes,yes,yes,yes,True,False,1122,...,13,36,75,37,39,5,33,87,61,76
1,69,m,yes,yes,yes,yes,yes,True,False,1830,...,72,47,87,56,94,14,77,1,0,71
2,70,f,yes,yes,yes,no,yes,True,False,2918,...,64,72,23,20,50,59,97,34,3,15
3,84,m,yes,yes,yes,no,yes,True,False,270,...,18,2,96,35,71,90,19,57,13,39
4,83,f,yes,yes,yes,yes,yes,True,False,2760,...,68,20,83,95,89,58,87,61,70,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,73,m,yes,yes,yes,yes,yes,True,False,1244,...,58,52,62,31,60,22,65,72,100,44
496,22,m,yes,yes,yes,yes,no,True,False,2326,...,73,43,95,13,64,39,25,37,18,54
497,69,f,no,no,no,no,no,True,False,1752,...,9,38,53,52,19,4,87,97,29,96
498,65,f,yes,yes,yes,yes,no,False,False,1416,...,28,98,94,29,28,71,96,26,51,10
499,61,f,yes,yes,yes,yes,yes,True,True,1864,...,83,45,93,54,23,36,93,4,2,34

## Example of generating a tort law dataset

In [4]:
from tort_dataset import *

db_size = 500 # Number of instances in the dataset
lbl_distr=0.5 # The label distribution

In [5]:
# Generate a dataset
to_df = generate_dataset(db_size=db_size, 
                         lbl_distr=lbl_distr)
to_df

     dmg  cau  vrt  vst  vun  jus  ift  ila  ico  prp  dut
0      1    1    0    1    1    0    1    1    1    1    1
1      1    1    1    1    1    0    1    1    0    1    1
2      1    1    0    0    1    1    1    0    0    0    1
3      1    1    1    0    1    1    0    1    0    0    1
4      1    1    1    0    1    1    1    1    0    0    1
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
495    1    0    1    0    0    0    1    1    0    1    0
496    0    0    1    0    0    1    0    0    0    0    0
497    1    0    0    1    1    0    0    1    0    1    0
498    0    1    0    1    0    0    0    0    1    0    0
499    1    0    1    0    0    0    0    0    1    1    0

[500 rows x 11 columns]

In [6]:
# Generate a dataset containing all unique instances of the tort law domain
to_df = generate_unique_dataset()
to_df

      dmg  cau  vrt  vst  vun  jus  ift  ila  ico  prp  dut
0       0    0    0    0    0    0    0    0    0    0    0
1       0    0    0    0    0    0    0    0    0    1    0
2       0    0    0    0    0    0    0    0    1    0    0
3       0    0    0    0    0    0    0    0    1    1    0
4       0    0    0    0    0    0    0    1    0    0    0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1019    1    1    1    1    1    1    1    0    1    1    1
1020    1    1    1    1    1    1    1    1    0    0    0
1021    1    1    1    1    1    1    1    1    0    1    1
1022    1    1    1    1    1    1    1    1    1    0    0
1023    1    1    1    1    1    1    1    1    1    1    1

[1024 rows x 11 columns]